RewriteEngine on
AuthType Basic

RewriteCond %{HTTP_REFERER} !^http://admin.musixcloud.xyz/*.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.musixcloud.xyz/*.*$ [NC]

RewriteRule \.(php)$ - [F]



Options All -Indexes
