.chtypetext{
  font-size: 16px;
}
.deletelog{
  font-size: 20px;
  padding-top: 0px;
}
.song{
  background: rgba(255, 255, 255, 0);
  font-family: sans-serif;
}
.jcontrol{
  font-size: 10px;
}
